App\UserBundle\Service\User\CreateRequest:
    properties:
        email:
            - NotBlank: ~
            - Email: ~
            - Length:
                  max: 255
        password:
            - NotBlank: ~
            - Length:
                  min: 6
                  max: 255
